@charset "UTF-8";

/* LOGO */

img {
        max-width: 100%;
        height: auto;
        display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;

}

/* CZCIONKA */

@font-face {
   font-family: pokemon;
   src: url(pokemon_pixel_font.ttf);
}

* {
   font-family: pokemon;
}

/* MENU BAR */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 15.3%; /* Six links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color: #000;
}

.navbar a.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

.active {
  background-color: #4CAF50;
}

/* TEXT BOX */



.textBox {
  width: 470px;
  margin: 50px auto;
  border: 4px solid #99b3ff;
  padding: 20px;
  font-weight: 100;
  color: #000000;
  font-family: pokemon;
  position: absolute;
  top: 240px;
  left: 190px;
}


.box1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #99b3ff;
  border-right: 10px solid transparent;
  border-top: 10px solid #99b3ff;
  border-bottom: 10px solid transparent;
  right: -21px;
  top: 6px;
}

.box1:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid #fff;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  border-bottom: 7px solid transparent;
  right: -11px;
  top: 10px;
}



/* STOPKA */

.footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}
