@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=VT323');

body {
font-family: 'VT323', monospace;
}

/* LOGO */

img {
        max-width: 100%;
        height: auto;
        display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;

}

/* MENU BAR */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 15.3%; /* Six links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color: #000;
}

.navbar a.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

.active {
  background-color: #4CAF50;
}

/* TEXT BOX */



.textBox {
  width: 470px;
  margin: 50px auto;
  border: 4px solid #99b3ff;
  padding: 20px;
  font-weight: 100;
  font-size: 16px;
  color: #000000;
  font-family: VT323;
  position: absolute;
  top: 240px;
  left: 190px;
}


.box1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #99b3ff;
  border-right: 10px solid transparent;
  border-top: 10px solid #99b3ff;
  border-bottom: 10px solid transparent;
  right: -21px;
  top: 6px;
}

.box1:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid #fff;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  border-bottom: 7px solid transparent;
  right: -11px;
  top: 10px;
}


/* STOPKA */

.footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}




/* Login button */

.loginButton {
  background-color: white; 
  border: none;
  color: #99b3ff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 50px;
}

/* Text colors */

.uncommon {
  color: green;
}

.rare {
  color: blue;
}

.legendary {
  color: orange;
}

.mythic {
  color: purple;
}

/* Gallery */

div.gallery {
  margin: 1px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 250px;
}

div.desc {
  padding: 1px;
  text-align: center;
} 


/* gallery buy card */

div.gallery1-1 {
  margin: 40px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery1-1:hover {
  border: 1px solid #777;
}

div.gallery1-1 img {
  width: 100%;
  height: 250px;
}

/* */
div.gallery2 {
  margin: 25px;
  float: left;
  width: 300px;
}

div.gallery2:hover {
  border: 1px solid #777;
}

div.gallery2 img {
  width: 100%;
  height: auto;
}

/* */
div.gallery3 {
  margin: 160px;
  float: left;
  width: 300px;

}

div.gallery3:hover {
  border: 1px solid #777;
}

div.gallery3 img {
  width: 100%;
  height: auto;
}


