<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel = "stylesheet" type="text/css" href = "style.css">
	
	<meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="https://lh3.googleusercontent.com/proxy/ND3p9DLQ-HV-Dx2G0peSMsEvNLdJ5xbea00Uzv3cf0g_BsxVnOnkQXgw4KnGLbyin1hgZSzOQDutU1KhVJ6r8YYP_tpiaLKHX57ulNhnTjRm7g"/>

<title>Game site</title>


<style>


.left {
  max-width: 27%;
  height: auto;
  position:absolute;
  top:30%;
  left:5%;
}


.right {
  max-width: 30%;
  height: auto;

}

.right2 {
  max-width: 45%;
  height: auto;
  margin: 200px;
}

.button3{
    position:absolute;
    top:73%;
    left:46%;
}

.button2_2{
    position:absolute;
    top:42%;
    left:24%;
}

</style>

</head>
<body>

<script type="text/javascript">
(function(){
   setTimeout(function(){
     window.location="http://localhost:8080/home";
   },4000); /* 1000 = 1 second*/
})();
</script>

<div style = "float:right">
	<a class="loginButton" href="logowanie">
        <img border="0" alt="login" src="https://cdn.onlinewebfonts.com/svg/img_311846.png" style="width:45px;height:45px;">
    </a>
</div>


<p>
    <a href="home">
        <img border="0" alt="logo" src="https://fontmeme.com/permalink/200805/407a4c726448aed2f163b1ba6202957f.png" >
    </a>
</p>


<div class = "navbar">
        <a href='gra'><span>Play</span></a>
        <a href='zasady'><span>Game rules</span></a>
        <a href='kartaDnia'><span>Card of the day</span></a>
        <a href='karty'><span>Your cards</span></a>
        <a href='zdobadzKarty'><span>Get cards</span></a>
        <a href='kontakt'><span>Contact</span></a>
</div>


<div class="textBoxG box1g" style= "text-align:center">
	Remember! Your chance of winning increases proportionally to the rarity of the cards you bet.
</div>


<div>
  <img class="right" src="https://i.ibb.co/jZb0xW0/366-3663389-pokemon-battle-revolution-trainer-models-hd-png-download.png" alt="Croupier" style="float:right" width="300" height="300">
   <img class="right2" src="https://im7.ezgif.com/tmp/ezgif-7-565f5f036e14.gif" alt="Ruleete" style="float:right" width="300" height="300">
</div>

 
 

<div class = "footer">
	<p>While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy. Copyright 2020. All Rights Reserved.
	<br>Maciej & Radek Company 2020</p>
</div>

</body>
</html>