<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" type="text/css" href = "style.css">
	<meta charset="UTF-8">


<title>Home site</title>


<style>

body {
  background: url("https://wallpaperplay.com/walls/full/b/1/8/49413.jpg") no-repeat center fixed;
  background-size: 100% 100%;
}

</style>

</head>
<body>



<p>
    <a href="home">
        <img border="0" alt="logo" src="https://fontmeme.com/permalink/200805/407a4c726448aed2f163b1ba6202957f.png" >
    </a>
</p>


<div class = "navbar">
        <a href='#'><span>Zagraj</span></a>
        <a href='zasady'><span>Zasady gry</span></a>
        <a href='#'><span>Karta dnia</span></a>
        <a href='#'><span>Twoje karty</span></a>
        <a href='#'><span>Zdobadz karty</span></a>
        <a href='#'><span>Kontakt</span></a>

</div>


	
<div class = "footer">
	<p>While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy. Copyright 2020. All Rights Reserved.</center>
	<br>Maciej & Radek Company 2020</p>
</div>

</body>
</html>