<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel = "stylesheet" type="text/css" href = "style.css">
<meta charset="UTF-8">
<title>Cards</title>

<style>
div.gallery {
  margin: 1px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 2px;
  text-align: center;
}
</style>

</head>

<div style = "float:right">
    <a class="loginButton" href="logowanie">
        <img border="0" alt="login" src="https://cdn.onlinewebfonts.com/svg/img_311846.png" style="width:45px;height:45px;">
</div>


<p>
    <a href="home">
        <img border="0" alt="logo" src="https://fontmeme.com/permalink/200805/407a4c726448aed2f163b1ba6202957f.png" >
    </a>
</p>


<div class = "navbar">
        <a href='gra'><span>Play</span></a>
        <a href='zasady'><span>Game rules</span></a>
        <a href='kartaDnia'><span>Card of the day</span></a>
        <a href='karty'><span>Your cards</span></a>
        <a href='zdobadzKarty'><span>Get cards</span></a>
        <a href='kontakt'><span>Contact</span></a>

</div>



<div class="gallery" th:each="karta : ${listaKart}">
	<img alt="missing image" th:src="${karta.getGrafika()}" width="400" height="500"> 
	<center><b><p th:text="${karta.getNazwa()}"></p></b></center>
</div>



<div class = "footer">
	<p>While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy. Copyright 2020. All Rights Reserved.</center>
	<br>Maciej & Radek Company 2020</p>
</div>



</html>