<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel = "stylesheet" type="text/css" href = "style.css">
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="shortcut icon" type="image/png" href="https://lh3.googleusercontent.com/proxy/ND3p9DLQ-HV-Dx2G0peSMsEvNLdJ5xbea00Uzv3cf0g_BsxVnOnkQXgw4KnGLbyin1hgZSzOQDutU1KhVJ6r8YYP_tpiaLKHX57ulNhnTjRm7g"/>

</head>

<body>

<div style = "float:right">
    <a class="loginButton" href="logowanie">
        <img border="0" alt="login" src="https://cdn.onlinewebfonts.com/svg/img_311846.png" style="width:45px;height:45px;">
    </a>
</div>

<p>
    <a href="home">
        <img border="0" alt="logo" src="https://fontmeme.com/permalink/200805/407a4c726448aed2f163b1ba6202957f.png" >
    </a>
</p>

<div class = "navbar">
    <a href='gra'><span>Play</span></a>
    <a href='zasady'><span>Game rules</span></a>
    <a href='kartaDnia'><span>Card of the day</span></a>
    <a href='karty'><span>Your cards</span></a>
    <a href='zdobadzKarty'><span>Get cards</span></a>
    <a href='kontakt'><span>Contact</span></a>
</div>
<img class="left" src="http://cdn.animalhi.com/1920x1080/20121028/pokemon%20charizard%20simple%20background%20white%20background%201920x1080%20wallpaper_www.animalhi.com_43.jpg" alt="Charizard" style="float:left; margin-right:1px" width="300" height="100">
<br>
<br>
<br>

<form th:action="@{/panelAdminBan}" th:object="${gracz9}" method="post" style = text-align:left>
    <div class="heading" style = text-align:center>
        <b><big id="ban" class="heading">Trainer pissed you off?</big></b>
    </div>
    <br>
    <div class="form-group">
        <label for="trainer1">Trainer name</label>
        <input type="text" class="form-control" id="trainer1" placeholder="Trainer"><br><br>
        <b><small id="emailHelp" class="form-text text-muted">Please repeat trainer name.</small></b><br>
        <label for="trainer2">Trainer name</label>
        <input type="text" class="form-control" id="trainer2" placeholder="Trainer" th:field="${gracz9.nick}">
    </div><br>
    <button type="submit" class="button button3">Ban trainer</button>
</form>


<div class = "footer">
    <p>While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy. Copyright 2020. All Rights Reserved.</center>
        <br>Maciej & Radek Company 2020</p>
</div>

</body>
</html>