<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel = "stylesheet" type="text/css" href = "style.css">
    <meta charset="UTF-8">
    <title>Gracz</title>
    <link rel="shortcut icon" type="image/png" href="https://lh3.googleusercontent.com/proxy/ND3p9DLQ-HV-Dx2G0peSMsEvNLdJ5xbea00Uzv3cf0g_BsxVnOnkQXgw4KnGLbyin1hgZSzOQDutU1KhVJ6r8YYP_tpiaLKHX57ulNhnTjRm7g"/>

</head>

<body>

<div style = "float:right">
    <a class="loginButton" href="logowanie">
        <img border="0" alt="login" src="https://cdn.onlinewebfonts.com/svg/img_311846.png" style="width:45px;height:45px;">
    </a>
</div>

<p>
    <a href="home">
        <img border="0" alt="logo" src="https://fontmeme.com/permalink/200805/407a4c726448aed2f163b1ba6202957f.png" >
    </a>
</p>

<div class = "navbar">
    <a href='gra'><span>Play</span></a>
    <a href='zasady'><span>Game rules</span></a>
    <a href='kartaDnia'><span>Card of the day</span></a>
    <a href='karty'><span>Your cards</span></a>
    <a href='zdobadzKarty'><span>Get cards</span></a>
    <a href='kontakt'><span>Contact</span></a>
</div>

<img class="left" src="https://i.pinimg.com/originals/bd/40/ee/bd40ee39c7d5a63faa8ffbfd0bc2db00.jpg" alt="Czarmander" style="float:left; margin-right:1px" width="20" height="10">
<br>
<br>
<br>

<form th:action="@{/panelGracz}" th:object="${gracz7}" method="post" style = text-align:left >
    <div class="heading" style = text-align:center>
        <b><big id="emailHelp1" class="heading">Do not share your email with other trainers.</big></b>
    </div>
    <br>
    <div class="form-group">
        <label for="exampleInputPassword1">New Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"><br><br>
        <b><small id="emailHelp" class="form-text text-muted">Please repeat you password.</small></b><br>
        <label for="exampleInputPassword1">New Password</label>
        <input type="password" class="form-control item" id="password" placeholder="Password" th:field="${gracz7.haslo}">

    </div><br>
    <button type="button" class="button button2">Change your password</button>
</form>
</div>

<form style = text-align:left>
    <div class="heading" style = text-align:center>
        <b><big id="emailHelp2" class="heading">Have you used 5 minutes e-mail?</big></b>
    </div>
    <br>
    <div class="form-group">
        <label for="exampleInputPassword1">New E-mail</label>
        <input type="password" class="form-control" id="exampleInputPassword3" placeholder="E-mail"><br><br>
        <b><small id="emailHelp3" class="form-text text-muted">Please repeat you e-mail.</small></b><br>
        <label for="exampleInputPassword1">New E-mail</label>
        <input type="password" class="form-control" id="exampleInputPassword4" placeholder="E-mail">
    </div><br>
    <button type="button" class="button button2">Change your email</button>
</form>

<div class = "footer">
    <p>While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy. Copyright 2020. All Rights Reserved.</center>
        <br>Maciej & Radek Company 2020</p>
</div>

</body>
</html>